<ion-header>
  <ion-toolbar>
    <ion-title>feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <center><img src="https://i.pinimg.com/originals/55/91/80/5591809ff56c527ff1897828d2fb3290.jpg" width="30%"/></center>

  <ion-list>
    <ion-item>
      <ion-item color="secondary"></ion-item>
      Oque achou do Profissional?
      <select nome="Profissional">
        <option value="perfeito">Nada a dizer</option>
        <option value="perfeito">Excelente</option>
        <option value="perfeito">Ótima</option>
        <option value="Bom">Bom</option>
        <option value="perfeito">Super Recomendo</option>
      </select>
    </ion-item>


    <ion-item>
      <ion-item color="primary"></ion-item>
      Qual a Probabilidade de você indicar a um amigo?
      <select nome="Nota">
        <option value="2">2</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="8">8</option>
        <option value="10">10</option>
      </select>
    </ion-item>

    <ion-item>
     <ion-item color="danger"></ion-item>
      Como você teve contato com o Profissional?
      <select nome="Nota">
        <option value="pes">Pesquisando</option>
        <option value="reco">Recomendações</option>
        <option value="pro">Propagandas</option>
        <option value="ou">Outros</option>
        
      </select>
    </ion-item>


  </ion-list>

</ion-content>
