<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <center><img src="https://i.pinimg.com/originals/55/91/80/5591809ff56c527ff1897828d2fb3290.jpg" width="30%"/></center>


  <ion-card>
    <ion-card-header>
      <center><ion-card-title>Joana Darque</ion-card-title></center>
      <center><h1>Profissional em Serviços Gerais.</h1></center>
    </ion-card-header>

  <ion-item color="primary">
  <ion-label>
    <ion-icon name="call-outline"></ion-icon>
    Telefone: (21) 2222-2222
  </ion-label>
</ion-item>


<ion-item color="secondary">
  <ion-label>
    <ion-icon name="mail-outline"></ion-icon>
    Email: Joana@gmail.com
  </ion-label>
</ion-item>

