<ion-header>
  <ion-toolbar>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  
    <center><img src="https://i.pinimg.com/originals/55/91/80/5591809ff56c527ff1897828d2fb3290.jpg" width="30%"/></center>
  





  <ion-item color="secondary">
  <ion-label>
    <ion-icon name="call-outline"></ion-icon>
    Telefone: (21) 2222-2222
  </ion-label>
</ion-item>


<ion-item color="secondary">
  <ion-label>
    <ion-icon name="mail-outline"></ion-icon>
    Email: Joana@gmail.com
  </ion-label>
</ion-item>

<ion-item>
  <ion-thumbnail slot="start">
  <img src="https://www.facebook.com/images/fb_icon_325x325.png">
</ion-thumbnail>

<ion-item>
  <ion-thumbnail slot="start">
    <img src="https://play-lh.googleusercontent.com/h9jWMwqb-h9hjP4THqrJ50eIwPekjv7QPmTpA85gFQ10PjV02CoGAcYLLptqd19Sa1iJ">
  </ion-thumbnail>

  <ion-item>
    <ion-thumbnail slot="start">
    <img src="https://cdn2.downdetector.com/static/uploads/c/300/ea3fc/twitter-logo_12.png">
  </ion-thumbnail>
