<ion-header>
  <ion-toolbar>
    <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pagamento</ion-title>
  </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>


  <ion-card-header>
    
    <center><h1>Escolha a Forma de Pagamento:</h1></center>
  </ion-card-header>




  <ion-list>
    <ion-radio-group value="biff">
      
  
      <ion-item>
        <ion-label>Dinheiro</ion-label>
        <ion-radio slot="start" value="biff"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Débito</ion-label>
        <ion-radio slot="start" value="griff"></ion-radio>
      </ion-item>
  
    </ion-radio-group>
  </ion-list>


  
  <ion-item>
   
  <ion-icon name="card-outline"></ion-icon>
    <ion-label>Pagamento em Débito</ion-label>
  </ion-item>


  <ion-list>

    <ion-item>
      <ion-label position="floating"></ion-label>
        Número do Cartão
        <ion-input></ion-input>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>

    <ion-item>
      <ion-label position="floating"></ion-label>
        Data de Vencimento do Cartão:
        <input id="date" type="date" value="2030-06-01">
        <ion-input></ion-input>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>

    <ion-item>
    
    <ion-label position="floating"></ion-label>
      Cód Seg:
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
  

  <ion-card-content>
    
    <ion-checkbox color="primary"></ion-checkbox>
    Eu li e concordo com os Termos e Condições.
  </ion-card-content>
<ion-button expand="full">Finalizar</ion-button>

</ion-card>



</ion-content>


  
