
<ion-header>
  <ion-toolbar>
    
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://i.pinimg.com/originals/55/91/80/5591809ff56c527ff1897828d2fb3290.jpg">
    </ion-avatar>
    <ion-label>ONLINE</ion-label>
  </ion-item>
  </ion-toolbar>
</ion-header>




<ion-content>
<ion-card class="card1">
  Nosso Serviço está marcado para segunda feira, as 14:00 ok?
</ion-card>
<ion-card class="card2">
  Ok Joana!! Até segunda.
</ion-card>
<ion-card class="card3">
  Caso você tenha mais alguma duvida estarei a sua disposição.
</ion-card>
<ion-card class="card4">
  Obrigada pela Atenção!
</ion-card>
<ion-card class="card5">
  <ion-icon name="thumbs-up-outline"></ion-icon>
  <ion-icon name="heart-outline"></ion-icon>
</ion-card>
<div class="divinferior">
  <ion-card class="cardinferior">
    <ion-label position="floating"></ion-label>
    <ion-input></ion-input>
    
  </ion-card>
  
  
</div>
</ion-content>
