<ion-header>
  <ion-toolbar>
    <ion-title>agenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-header>
    <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Agenda</ion-title>
    </ion-toolbar>
  </ion-header>
  

<ion-content>

  <ion-head>
    <center>AGENDA SEMANAL - MARÇO</center>
  </ion-head>
  <ion-content>
  <div class="div1">
  <ion-card>
  Seg
  <div class="diasnulo"></div>
  <div class="dias">4</div>
  <div class="dias">11</div>
  <div class="dias">18</div>
  <div class="dias">25</div>
  </ion-card>
  
  <ion-card>
  Ter
  <div class="diasnulo"></div>
  <div class="dias">5</div>
  <div class="dias">12</div>
  <div class="dias">19</div>
  <div class="dias">26</div>
  </ion-card>
  <ion-card>
  Quar
  <div class="diasnulo"></div>
  <div class="dias">6</div>
  <div class="dias">13</div>
  <div class="dias">20</div>
  <div class="dias">27</div>
  </ion-card>
  <ion-card>
  Qui
  <div class="diasnulo"></div>
  <div class="dias">7</div>
  <div class="dias">14</div>
  <div class="dias">21</div>
  <div class="dias">28</div>
  </ion-card>
  <ion-card>
  Sex
  <div class="diasselecionados">1</div>
  <div class="dias">8</div>
  <div class="dias">15</div>
  <div class="dias">22</div>
  <div class="dias">29</div>
  </ion-card>
  <ion-card>
  Sáb
  <div class="dias">2</div>
  <div class="dias">9</div>
  <div class="dias">16</div>
  <div class="dias">23</div>
  <div class="dias">30</div>
  </ion-card>

  <ion-card>
  Dom
  <div class="dias">3</div>
  <div class="dias">10</div>
  <div class="dias">17</div>
  <div class="dias">24</div>
  <div class="dias">31</div>
  </ion-card>
  </div>
  
  <div class="cardbottom">
    <div class="cardbottom">
      <ion-item>
        <ion-avatar slot="end" class="end-avatar">
          
        </ion-avatar>
  
        <ion-avatar slot="start">
          <img
            src="https://i.pinimg.com/originals/55/91/80/5591809ff56c527ff1897828d2fb3290.jpg">
        </ion-avatar>
  
        <ion-label>
          <h2>Joana Darque</h2>
          <h3>Serviços Gerais</h3>
          <p> 
            AGENDA MARCADA PARA O DIA 01/03.
          </p>
        </ion-label>
      </ion-item>
    </div>
  </div>

  <div class="cardbottom">
    <ion-item>
      <ion-avatar slot="end" class="end-avatar">
        
      </ion-avatar>

      <ion-avatar slot="start">
        <img
          src="https://i.pinimg.com/originals/55/91/80/5591809ff56c527ff1897828d2fb3290.jpg">
      </ion-avatar>

      <ion-label>
        <h2>Joana Darque</h2>
        <h3>Serviços Gerais</h3>
        <p> 
          AGENDA MARCADA PARA O DIA 25/03.
        </p>
      </ion-label>
    </ion-item>
  </div>
  
  </ion-content>
  







</ion-content>
