<ion-header>
  <ion-toolbar>
    <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contratos Anteriores</ion-title>
  </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
  <ion-item>
    <ion-avatar slot="end">
      <img src="https://i.pinimg.com/originals/55/91/80/5591809ff56c527ff1897828d2fb3290.jpg">
      
    </ion-avatar>
    <ion-label>
      <h2>Joana Darque</h2>
      <h3>Serviços Gerais</h3>
      <p>
        <ion-icon name="star" class="icon-star"></ion-icon>
        <ion-icon name="star" class="icon-star"></ion-icon>
        <ion-icon name="star" class="icon-star"></ion-icon>
        <ion-icon name="star" class="icon-star"></ion-icon>
        <ion-icon name="star-outline" class="icon-star"></ion-icon>
      </p>
    </ion-label>
  </ion-item>
</ion-list>
<ion-card>

    
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img
              src="https://i.pinimg.com/564x/45/63/f0/4563f0af04eb6245f56034460da79996.jpg">
           </ion-avatar>
      <ion-label>
        <h2>Maria Silva</h2>

        <p>
          <ion-icon name="star" class="icon-star"></ion-icon>
          <ion-icon name="star" class="icon-star"></ion-icon>
          <ion-icon name="star" class="icon-star"></ion-icon>
          <ion-icon name="star" class="icon-star"></ion-icon>
          <ion-icon name="star-outline" class="icon-star"></ion-icon>
        </p>

        <p>Serviço Perfeito, irei recomendar.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img
              src="https://292aa00292a014763d1b-96a84504aed2b25fc1239be8d2b61736.ssl.cf1.rackcdn.com/PostImagem/25977/foto-profissional-aparece-14-vezes-mais-do-que-uma-foto-amadora-no-linkedin_o1d8j4ubls1bul1m3l7ph1qrs1533e.jpg">
         </ion-avatar>
      <ion-label>
        <h2>Mario José</h2>

        <p>
          <ion-icon name="star" class="icon-star"></ion-icon>
          <ion-icon name="star" class="icon-star"></ion-icon>
          <ion-icon name="star" class="icon-star"></ion-icon>
          <ion-icon name="star" class="icon-star"></ion-icon>
          <ion-icon name="star" class="icon-star"></ion-icon>
        </p>

        <p>Excelente Serviço, minha Esposa amou.</p>
      </ion-label>
    </ion-item>


    <ion-item>
      <ion-avatar slot="start">
        <img
              src="https://s2.glbimg.com/diAlEh7oiZxhtPxdjZudAHG6wK4=/620x430/e.glbimg.com/og/ed/f/original/2018/03/27/alessandra-bomura-perfil.jpg">
           </ion-avatar>
      <ion-label>
        <h2>Rosangela Morais</h2>

        <p>
          <ion-icon name="star" class="icon-star"></ion-icon>
          <ion-icon name="star-outline" class="icon-star"></ion-icon>
          <ion-icon name="star-outline" class="icon-star"></ion-icon>
          <ion-icon name="star-outline" class="icon-star"></ion-icon>
          <ion-icon name="star-outline" class="icon-star"></ion-icon>
        </p>

        <p>Achei o valor um pouco alto.</p>
      </ion-label>
    </ion-item>












  </ion-list>





  
</ion-card>
</ion-content>